*~
/dist/*
/parse.txt
/unicode/uc-ll.htm
/unicode/uc-lm.htm
/unicode/uc-lo.htm
/unicode/uc-lt.htm
/unicode/uc-lu.htm
/unicode/uc-nl.htm
/unicode/combiningmark.sh~
/unicode/connector-punctuation.sh~
/unicode/uc-mc.htm
/unicode/uc-mn.htm
/unicode/uc-nd.htm
/unicode/uc-pc.htm

/src/Language/JavaScript/Parser/Lexer.info
